<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decode UI</title>
    <link href="/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/decodeui-favicon.ico" type="image/x-icon">
</head>

<body>
    <nav>
        <a href="/index.html">
            <img src="/DECODE UI.png" class="hero"></a>
        <button class="button-primary button-nav padding-1">
            <a href="https://github.com/pragyasabharwal/decode-ui" id="github-link">View on GitHub</a>
        </button>
    </nav>
    <div class="main-grid">
        <div class="side-nav padding-10 margin-3">
            <a href="/documentation.html">
                <li class="padding-7">Installation</li>
            </a>
            <a href="avatar.html">
                <li class="padding-7 active">Avatar</li>
            </a>
            <a href="alert.html">
                <li class="padding-7">Alert</li>
            </a>
            <a href="badge.html">
                <li class="padding-7">Badge</li>
            </a>
            <a href="card.html">
                <li class="padding-7">Card</li>
            </a>
            <a href="image.html">
                <li class="padding-7">Image</li>
            </a>
            <a href="input.html">
                <li class="padding-7">Input</li>
            </a>
            <a href="list.html">
                <li class="padding-7">List</li>
            </a>
            <a href="modal.html">
                <li class="padding-7">Modal</li>
            </a>
            <a href="navigation.html">
                <li class="padding-7">Navigation</li>
            </a>
            <a href="grid.html">
                <li class="padding-7">Grid</li>
            </a>
        </div>
        <div class="components">
            <!-- avatars -->
            <h2>Avatar with Initials</h2>
            <div class="left">
                <div class="avatar-sm center margin-1 padding-1">
                    P
                </div>
                <div class="avatar-lg center margin-1 padding-1">
                    S
                </div>
                <div class="avatar-xlg center margin-1 padding-1">
                    A
                </div>
            </div>
            <iframe class="margin-3"
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=cobalt&wt=none&l=auto&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%253Cdiv%2520class%253D%2522avatar-sm%2520center%2520margin-1%2520padding-1%2522%253EP%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522avatar-lg%2520center%2520margin-1%2520padding-1%2522%253ES%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522avatar-xlg%2520center%2520margin-1%2520padding-1%2522%253EA%253C%252Fdiv%253E"
                style="height: 128px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <!-- avatar with active status-->
            <h2>Avatar with Active Status</h2>
            <div class="margin-1">
                <div class="avatar-sm center padding-1">
                    R
                    <span class="online"></span>
                </div>
            </div>
            <iframe class="margin-3"
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=cobalt&wt=none&l=auto&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522avatar-sm%2520center%2520margin-5%2520padding-1%2522%253E%2520R%2520%250A%253Cspan%2520class%253D%2522online%2522%253E%253C%252Fspan%253E%250A%253C%252Fdiv%253E"
                style="height: 128px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
        </div>
        <div class="footer-flex margin-adjust-4">
            <button class="previous"><a href="./alert.html">← Alert</a></button>
            <button class="next"><a href="./badge.html">Badge →</a></button>
        </div>

</body>

</html>