<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decode UI</title>
    <link href="/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/decodeui-favicon.ico" type="image/x-icon">
</head>

<body>
    <nav>
        <a href="/index.html">
            <img src="/DECODE UI.png" class="hero"></a>
        <button class="button-primary button-nav padding-1">
            <a href="https://github.com/pragyasabharwal/decode-ui" id="github-link">View on GitHub</a>
        </button>
    </nav>
    <div class="main-grid">
        <div class="side-nav padding-10 margin-3">
            <a href="/documentation.html">
                <li class="padding-7">Installation</li>
            </a>
            <a href="avatar.html">
                <li class="padding-7">Avatar</li>
            </a>
            <a href="alert.html">
                <li class="padding-7">Alert</li>
            </a>
            <a href="badge.html">
                <li class="padding-7">Badge</li>
            </a>
            <a href="card.html">
                <li class="padding-7">Card</li>
            </a>
            <a href="image.html">
                <li class="padding-7">Image</li>
            </a>
            <a href="input.html">
                <li class="padding-7">Input</li>
            </a>
            <a href="list.html">
                <li class="padding-7">List</li>
            </a>
            <a href="modal.html">
                <li class="padding-7">Modal</li>
            </a>
            <a href="navigation.html">
                <li class="padding-7">Navigation</li>
            </a>
            <a href="grid.html">
                <li class="padding-7 active">Grid</li>
            </a>

        </div>
        <div class="components margin-adjust">
            <!-- grid-2 -->
            <div class="grid-2 margin-13">
                <div class="side-1  padding-10">
                    COLUMN 1
                </div>
                <div class="side-2 padding-10">
                    COLUMN 2
                </div>
            </div>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=cobalt&wt=none&l=auto&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522grid-2%2520margin-5%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522side-1%2520%2520padding-10%2522%253ECOLUMN%25201%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522side-2%2520padding-10%2522%253ECOLUMN%25202%253C%252Fdiv%253E%250A%253C%252Fdiv%253E%250A"
                style="height: 276px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <!-- grid-3 -->
            <div class="grid-3 margin-13">
                <div class="top padding-10">
                    PS Times
                </div>
                <div class="aside padding-10">
                    Breaking
                </div>
                <div class="content padding-10">
                    Catch the latest news!
                </div>
            </div>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=cobalt&wt=none&l=auto&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522grid-3%2520margin-5%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522top%2520padding-10%2522%253EPS%2520Times%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522aside%2520padding-10%2522%253EBreaking%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522content%2520padding-10%2522%253ECatch%2520the%2520latest%2520news%21%253C%252Fdiv%253E%250A%253C%252Fdiv%253E%250A"
                style="height: 294px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>

        </div>
    </div>
    <div class="footer-flex margin-adjust-4">
        <button class="previous"><a href="./card.html">← Card</a></button>
        <button class="next"><a href="./image.html">Image →</a></button>
    </div>
</body>

</html>