<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decode UI</title>
    <link href="/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/decodeui-favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/6fc4c8289a.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <a href="/index.html">
            <img src="/DECODE UI.png" class="hero"></a>
        <button class="button-primary button-nav padding-1">
            <a href="https://github.com/pragyasabharwal/decode-ui" id="github-link">View on GitHub</a>
        </button>
    </nav>
    <div class="main-grid">
        <div class="side-nav padding-10 margin-3">
            <a href="/documentation.html">
                <li class="padding-7">Installation</li>
            </a>
            <a href="avatar.html">
                <li class="padding-7">Avatar</li>
            </a>
            <a href="alert.html">
                <li class="padding-7">Alert</li>
            </a>
            <a href="badge.html">
                <li class="padding-7">Badge</li>
            </a>
            <a href="card.html">
                <li class="padding-7">Card</li>
            </a>
            <a href="image.html">
                <li class="padding-7 active">Image</li>
            </a> <a href="input.html">
                <li class="padding-7">Input</li>
            </a>
            <a href="list.html">
                <li class="padding-7">List</li>
            </a>
            <a href="modal.html">
                <li class="padding-7">Modal</li>
            </a>
            <a href="navigation.html">
                <li class="padding-7">Navigation</li>
            </a>
            <a href="grid.html">
                <li class="padding-7">Grid</li>
            </a>
        </div>
        <div class="components">
            <h2>Responsive Image</h2>
            <img src="https://images.unsplash.com/photo-1470770903676-69b98201ea1c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fG5hdHVyZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=60"
                class="img-responsive">
            <br />
            <iframe class="margin-16 margin-adjust-3"
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=cobalt&wt=none&l=auto&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Cimg%2520src%253D%2522image-link%2522%2520class%253D%2522img-responsive%2522%253E"
                style="height: 91px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <h2> Round Responsive Image</h2>
            <img src="https://images.unsplash.com/photo-1570327920356-9d2cdf21020f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fG5hdHVyZXxlbnwwfDJ8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
                class="img-responsive margin-18 rounded-image">
            <br />
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=cobalt&wt=none&l=auto&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Cimg%2520src%253D%2522image-link%2522%2520class%253D%2522img-responsive%2520rounded-image%2522%253E"
                style="height: 91px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
    </div>
    <div class="footer-flex margin-adjust-4">
        <button class="previous"><a href="./grid.html">← Grid</a></button>
        <button class="next"><a href="./input.html">Input →</a></button>
    </div>
</body>

</html>