<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decode UI</title>
    <link href="/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/decodeui-favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/6fc4c8289a.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <a href="/index.html">
            <img src="/DECODE UI.png" class="hero"></a>
        <button class="button-primary button-nav padding-1">
            <a href="https://github.com/pragyasabharwal/decode-ui" id="github-link">View on GitHub</a>
        </button>
    </nav>
    <div class="main-grid">
        <div class="side-nav padding-10 margin-3">
            <a href="/documentation.html">
                <li class="padding-7">Installation</li>
            </a>
            <a href="avatar.html">
                <li class="padding-7">Avatar</li>
            </a>
            <a href="alert.html">
                <li class="padding-7">Alert</li>
            </a>
            <a href="badge.html">
                <li class="padding-7">Badge</li>
            </a>
            <a href="card.html">
                <li class="padding-7">Card</li>
            </a>
            <a href="image.html">
                <li class="padding-7">Image</li>
            </a>
            <a href="input.html">
                <li class="padding-7 active">Input</li>
            </a>
            <a href="list.html">
                <li class="padding-7">List</li>
            </a>
            <a href="modal.html">
                <li class="padding-7">Modal</li>
            </a>
            <a href="navigation.html">
                <li class="padding-7">Navigation</li>
            </a>
            <a href="grid.html">
                <li class="padding-7">Grid</li>
            </a>
        </div>
        <div class="components">
            <!-- input search bar -->
            <h2 class="margin-13 margin-adjust-1">Search Bar</h2>
            <div class="input width-3-5 margin-adjust-1">
                <input type="search margin-adjust" required autofocus placeholder="Search..." class=" input-search">
                <i class="fas fa-search"></i>
                </input>
            </div>
            <br>
            <iframe class="margin-adjust-1"
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=cobalt&wt=none&l=auto&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522input%2522%253E%250A%2520%2520%253Cinput%2520type%253D%2522search%2522%2520required%2520autofocus%2520placeholder%253D%2522Search...%2522%2520class%253D%2522input-search%2522%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-search%2522%253E%253C%252Fi%253E%250A%2520%2520%253C%252Finput%253E%250A%253C%252Fdiv%253E%250A"
                style=" height: 294px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>

            <!-- user information  -->
            <h2 class="margin-5">Input</h2>
            <fieldset class="margin-14 padding-1 user-info margin-adjust-1">
                <legend class="font-1">User Information</legend>
                <input placeholder="Enter Name" class="input-user-success margin-1 padding-1">
                <input placeholder="Enter Email" class="input-user-failure margin-1 padding-1">
                <small class="margin-4 error">Enter a valid email address</small>
            </fieldset>
            <br>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=cobalt&wt=none&l=auto&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cfieldset%2520class%253D%2522margin-8%2520padding-1%2520user-info%2522%253E%250A%253Clegend%2520class%253D%2522font-1%2522%253EUser%2520Information%253C%252Flegend%253E%250A%253Cinput%2520placeholder%253D%2522Enter%2520Name%2522%2520class%253D%2522input-user-success%2520margin-1%2520padding-1%2522%253E%250A%253Cinput%2520placeholder%253D%2522Enter%2520Email%2522%2520class%253D%2522input-user-failure%2520margin-1%2520padding-1%2522%253E%250A%253Csmall%2520class%253D%2522margin-4%2520error%2522%253EEnter%2520a%2520valid%2520email%2520address%253C%252Fsmall%253E%250A%253C%252Ffieldset%253E%250A"
                style="height: 312px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
    </div>
    <div class="footer-flex margin-adjust-4">
        <button class="previous"><a href="./image.html">← Image</a></button>
        <button class="next"><a href="./list.html">List →</a></button>
    </div>
</body>
</html>